useDynLib(
          ouch,
          ouch_covar,
          ouch_weights
          )
import(methods)
importFrom(subplex,subplex)
importFrom(graphics,plot)
importFrom(stats,deviance,simulate,update,coef,logLik)
exportClasses('ouchtree','browntree','hansentree')
exportMethods(
              'plot','logLik','summary','coef','coerce',
              'print','show',
              'simulate','update','bootstrap'
              )
export(
       ouchtree,
       brown,
       hansen,
       ape2ouch,
       paint
       )
